:root{
    --Default-font: snigletRegular;
}

.main_sec{
    position: fixed;
    top: 15vh;
    width: 100%;
    height: calc(100% - 25vh);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--claro-light);
}

.profile-container {
    height: 70%;
    width: 270px;
    margin: 0;
    max-width: 400px;
    background-color: rgb(119, 203, 252);
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(10, 9, 87, 0.1);
    text-align: center;
    font-family: var(--Default-font);
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    margin-bottom: 15px;
    font-size: 16px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profile-container button {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: var(--Default-font);
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
}

.navbar_card{
    width: 24vh;
    height: 26vh;
    margin: 0 0 5vh 7vh;
    border-radius: 12px;
    font-family: 'SnigletRegular';
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: background-color 0.2s ease;
	animation: jello-diagonal-1 0.8s both;
}   .navbar_card i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
}   .navbar_card a{
    height: 25%;
    display: flex;
    align-items: center;
    font-size: large;
    text-decoration: none;
    color: var(--preto);
    transition: color 0.2s ease;
}

#botao_teste{
    background-color: var(--card1-soft-color);
    box-shadow: 0px 10px 0px -4px var(--card1-default-color);
}   #botao_teste i{
    background-color: var(--card1-dark-color);
    padding: 15% 12%;
}   #botao_teste:hover{
    background-color: var(--card1-strong-color);
}   #botao_teste:hover > a{
    color: white;
	animation: wobble-ver-left 0.8s both;
}

#botao_teste2{ 
    background-color: var(--card1-soft-color); 
    box-shadow: 0px 10px 0px -4px var(--card1-default-color); 
}   #botao_teste i{ 
    background-color: var(--card1-dark-color); 
    padding: 15% 12%; 
}   #botao_teste:hover{ 
    background-color: var(--card1-strong-color); 
}   #botao_teste:hover > a{ 
    color: white; 
        animation: wobble-ver-left 0.8s both; 
} 

@keyframes jello-diagonal-1 {
    0% {
        transform: skew(0deg 0deg);
    }
    30% {
        transform: skew(20deg 20deg);
    }
    40% {
        transform: skew(-5deg, -5deg);
    }
    50% {
        transform: skew(5deg, 5deg);
    }
    65% {
        transform: skew(-2deg, -2deg);
    }
    75% {
        transform: skew(2deg, 2deg);
    }
    100% {
        transform: skew(0deg 0deg);
    }
}
@keyframes wobble-ver-left {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      font-size: large;
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateY(-10px) rotate(-2deg);
      font-size: larger;
    }
    30% {
      transform: translateY(5px) rotate(2deg);
      font-size: larger;
    }
    45% {
      transform: translateY(-5px) rotate(-1.2deg);
      font-size: larger;
    }
    60% {
      transform: translateY(3px) rotate(0.8deg);
      font-size: larger;
    }
    75% {
      transform: translateY(-2px) rotate(-0.4deg);
      font-size: larger;
    }
}
  
 @keyframes jello-diagonal-1 { 
     0% { 
         transform: skew(0deg 0deg); 
     } 
     30% { 
         transform: skew(20deg 20deg); 
     } 
     40% { 
         transform: skew(-5deg, -5deg); 
     } 
     50% { 
         transform: skew(5deg, 5deg); 
     } 
     65% { 
         transform: skew(-2deg, -2deg); 
     } 
     75% { 
         transform: skew(2deg, 2deg); 
     } 
     100% { 
         transform: skew(0deg 0deg); 
     } 
 } 
 @keyframes wobble-ver-left { 
     0%, 
     100% { 
       transform: translateY(0) rotate(0); 
       font-size: large; 
       transform-origin: 50% 50%; 
     } 
     15% { 
       transform: translateY(-10px) rotate(-2deg); 
       font-size: larger; 
     } 
     30% { 
       transform: translateY(5px) rotate(2deg); 
       font-size: larger; 
     } 
     45% { 
       transform: translateY(-5px) rotate(-1.2deg); 
       font-size: larger; 
     } 
     60% { 
       transform: translateY(3px) rotate(0.8deg); 
       font-size: larger; 
     } 
     75% { 
       transform: translateY(-2px) rotate(-0.4deg); 
       font-size: larger; 
     } 
   }