/* 
?███████ ████████ ██    ██ ██      ███████ 
?██         ██     ██  ██  ██      ██      
?███████    ██      ████   ██      █████   
?     ██    ██       ██    ██      ██      
?███████    ██       ██    ███████ ███████ 
*/

/* 
*██   ██ ███████  █████  ██████  ███████ ██████  
*██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
*███████ █████   ███████ ██   ██ █████   ██████  
*██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
*██   ██ ███████ ██   ██ ██████  ███████ ██   ██  
*/

.fullscreen{
    width: 100%;
    height: fit-content;
    background-color: var(--marrom-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden !important;
}

.header_sec{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--marrom-light);
    height: 10vh;
    box-shadow: 0px -2px 5px var(--preto);
    z-index: 1;
}

.header_btn_sec{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 5vh;
	animation: wobble-hor-bottom 0.8s both;
}

.header_btn_sec button{
    margin: 0;
    padding: 12px 24px 12px 12px;
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--marrom-light);
    color: var(--cinza);
    font-weight: 700;
    font-size: 16px;
    transition: background-color 0.4s ease, color 0.4s ease;
}   .header_btn_sec i{
    color: var(--cinza);
    padding-right: 5px;
    transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease, opacity 0.2s ease;
}   .header_btn_sec button:hover > i{
    color: var(--marrom);
    transform: translateX(-25px);
    opacity: 0;
}
.header_btn_sec button:hover{
        background-color: var(--white);
        color: var(--marrom);
}   

/* 
*███████ ███████  ██████ ████████ ██  ██████  ███    ██ ██████
*██      ██      ██         ██    ██ ██    ██ ████   ██ ██
*███████ █████   ██         ██    ██ ██    ██ ██ ██  ██ ██████
*     ██ ██      ██         ██    ██ ██    ██ ██  ██ ██     ██
*███████ ███████  ██████    ██    ██  ██████  ██   ████ ██████
*/

.main_sec{
    width: 100%;
    color-scheme: light;
    display: flex;
    flex-direction: column;
}

/* 
*██   ████        ███████ ███████  ██████ ████████ ██  ██████  ███    ██ 
*███  █  █        ██      ██      ██         ██    ██ ██    ██ ████   ██ 
*██   ████        ███████ █████   ██         ██    ██ ██    ██ ██ ██  ██ 
*██                    ██ ██      ██         ██    ██ ██    ██ ██  ██ ██ 
*██               ███████ ███████  ██████    ██    ██  ██████  ██   ████  
*/

.first_sec{
    width: 100%;
    height: 600px;
    background-color: var(--marrom-light);
    display: flex;
}

.leftside_first_sec{
    width: calc(50% - 200px);
    height: calc(100% - 50px);
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

.logo_marca_first_sec{
    font-size: 110px;
    font-family: BilboSwashCapsRegular;
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.title_first_sec{
    font-size: 50px;
    font-weight: 900;
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.subtitle_first_sec{
    font-size: 20px;
    padding-top: 12px;
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.rightside_first_sec{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../IMG/sobre_photo01.jpg);
    background-position: center;
    background-size: 190%;
    transition: all 0.5s ease;
}
.rightside_first_sec:hover{
    scale: 1.02;
}
/* 
*██████  ████        ███████ ███████  ██████ ████████ ██  ██████  ███    ██ 
*     ██ █  █        ██      ██      ██         ██    ██ ██    ██ ████   ██ 
* █████  ████        ███████ █████   ██         ██    ██ ██    ██ ██ ██  ██ 
*██                       ██ ██      ██         ██    ██ ██    ██ ██  ██ ██ 
*███████             ███████ ███████  ██████    ██    ██  ██████  ██   ████  
*/

.second_sec{
    width: 100%;
    height: 350px;
    display: flex;
    box-shadow: 0 0 5px var(--preto);
}

.box01_second_sec{
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-escuro);
    color: var(--white);
    transition: all 0.3s ease-in-out;
}   
.box01_second_sec:hover{
    scale: 1.02;
}

.box02_second_sec{
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--azul);
    transition: all 0.3s ease-in-out;
}   
.box02_second_sec:hover{
    scale: 1.02;
}

.box03_second_sec{
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-quente);
    color: var(--white);
    transition: all 0.3s ease-in-out;
}   
.box03_second_sec:hover{
    scale: 1.02;
}

.box_title{
    font-size: 25px;
    font-weight: 800;
    font-family: sniglet;
    padding: 20px 30px;
}

.box_text{
    font-size: 15px;
    padding: 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

/* 
*██████  ████        ███████ ███████  ██████ ████████ ██  ██████  ███    ██ 
*     ██ █  █        ██      ██      ██         ██    ██ ██    ██ ████   ██ 
* █████  ████        ███████ █████   ██         ██    ██ ██    ██ ██ ██  ██ 
*██                       ██ ██      ██         ██    ██ ██    ██ ██  ██ ██ 
*███████             ███████ ███████  ██████    ██    ██  ██████  ██   ████  
*/



/* 
?██████  ███████ ███████ ██████   ██████  ███    ██ ███████ ██ ██    ██ ██ ██████   █████  ██████  ███████ 
?██   ██ ██      ██      ██   ██ ██    ██ ████   ██ ██      ██ ██    ██ ██ ██   ██ ██   ██ ██   ██ ██      
?██████  █████   ███████ ██████  ██    ██ ██ ██  ██ ███████ ██ ██    ██ ██ ██   ██ ███████ ██   ██ █████   
?██   ██ ██           ██ ██      ██    ██ ██  ██ ██      ██ ██  ██  ██  ██ ██   ██ ██   ██ ██   ██ ██     
?██   ██ ███████ ███████ ██       ██████  ██   ████ ███████ ██   ████   ██ ██████  ██   ██ ██████  ███████
*/



/* 
? █████  ███    ██ ██ ███    ███  █████  ████████ ██  ██████  ███    ██ 
?██   ██ ████   ██ ██ ████  ████ ██   ██    ██    ██ ██    ██ ████   ██ 
?███████ ██ ██  ██ ██ ██ ████ ██ ███████    ██    ██ ██    ██ ██ ██  ██ 
?██   ██ ██  ██ ██ ██ ██  ██  ██ ██   ██    ██    ██ ██    ██ ██  ██ ██ 
?██   ██ ██   ████ ██ ██      ██ ██   ██    ██    ██  ██████  ██   ████  
*/

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes wobble-hor-bottom {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateX(-10px) rotate(-2deg);
    }
    30% {
      transform: translateX(5px) rotate(2deg);
    }
    45% {
      transform: translateX(-5px) rotate(-1.2deg);
    }
    60% {
      transform: translateX(3px) rotate(0.8deg);
    }
    75% {
      transform: translateX(-2px) rotate(-0.4deg);
    }
  }