.main_sec {
    position: fixed;
    top: 15vh;
    width: 100%;
    height: calc(100% - 25vh);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--claro-light);
}

.logo_body a:hover{
    text-decoration: none;
}

.pfl_container{
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    padding: 0 0 2.5%;
    z-index: 0;
}

.pfl_photo_sec{
    width: 28%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #508ea9;
    border-radius: 25px;
    position: absolute;
    left: 4%;    
    top: 10%;
}

.pfl_photo{
    border-radius: 50%;
    position: absolute;
    width: 70%;
    box-shadow: 0 0 15px #5252526d;
}

.changePfl_photo{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    border: 2px solid var(--azul-escuro);
    color: var(--azul-escuro);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    cursor: pointer;
    transition: .2s ease;
}

.changePfl_photo:hover{
    border-color: var(--azul-light);
    color: var(--azul-light);
}

.pfl_info_sec{
    width: 70%;
    min-width: 400px;
    max-height: 75%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #F6FAFE;
    box-shadow: 0 0 20px #c3c3c376;
    border-radius: 25px;
}

.pfl_info_sec p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 25%);
    height: 10%;
    margin-left: 25%;
    font-weight: 700;
    font-size: large;
}

.pfl_info_body{
    display: flex;
    flex-direction: column;
    width: calc(100% - 25%);
    margin-left: 25%;
}

.pfl_info_body hr{
    border: 0;
    height: 1px;
    width: 90%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.pfl_info{
    display: flex;
    width: calc(100% - 3.5rem);
    margin: 0 0 0 3.5rem;
}

.pfl_info span:first-child {
    text-transform: uppercase;
    width: 25%;
}


.pfl_info span{
    margin: 0;
    line-height: 2.5;
    font-weight: 700;
    font-size: large;
}

.pfl_menuSec{
    position: fixed;
    right: 5%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.pfl_btn{
    margin: 0;
    width: 90%;
    height: 5rem;
}


.pfl_menuSec a {
    text-decoration: none;
    line-height: 80px;
    color: black;   
    text-align: center;
}

[class^=pfl_btn] {
    position: relative;
    display: block;
    overflow: hidden;
    width: 80%;
    height: 5rem;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 1px solid currentColor;
    border-radius: 8px;
    font-weight: 700;
}

.pfl_btn {
    transition: background-color .5s ease-in-out, color .3s ease-in-out!important;
    color: #387b95!important;
    cursor: pointer;
}
.pfl_btn:hover {
    color: #F6FAFE!important;
}
.pfl_btn span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.pfl_btn:hover span {
    width: 225%;
    height: 562.5px;
}

.pfl_btn-items span{
    background-color: #387b95;
}
.pfl_btn-items:active {
    background-color: #77b0c6;
}

.pfl_btn-edit span{
    background-color: #387b95;
}
.pfl_btn-edit:active {
    background-color: #77b0c6;
}

.pfl_btn-hist span{
    background-color: #387b95;
}
.pfl_btn-hist:active {
    background-color: #77b0c6;
}

.pfl_btn-gold span{
    background-color: #387b95;
}
.pfl_btn-gold:active {
    background-color: #77b0c6;
}

.pfl_infoNone{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 76%;
    margin: 0 0 0 24%;
    height: 100%;
}

.infoNone_text{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-family: snigletRegular;
    font-weight: 600;
    color: #387b95;
    transition: .3s ease-in-out;
}

.infoNone_btn{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoNoneBtn{
    width: 30%;
    height: 50%;
    cursor: pointer;
    border: 0;
    border-radius: 25px;
    color: #fff;
    background-color: var(--azul);
    font-size: large;
    font-family: snigletRegular;
    transition: .2s ease-in-out;
}

.infoNoneBtn:hover{
    color: var(--azul-escuro);
    background-color: var(--azul-light);
}

.hidden{
    display: none!important;
}

.userAccountNone{
    position: relative;
}

.m_AccountNone_wrap{
    width: calc(100% - 128vh);
    height: calc(100% - 32vh);
    margin: 16vh 64vh;
    position: relative;
    background-color: var(--claro-light);
    border-radius: var(--border-radius-default);
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    overflow: hidden;
}

.m_userAccountNone_close{
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 18px;
    height: 24px;
    z-index: 1;
}

.leftside_sec{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.leftside_sec img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rightside_sec{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s ease-in-out;
}

.login_form_sec{
    position: relative;
    width: 60%;
    height: 70%;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.signin_body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 12.5%;
    gap: 25px;
    transition: all 0.8s ease-in-out;
    animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.signup_body{
    display: none;
}

.inputbox{
    position: relative;
    margin: 0 auto;
    width: 90%;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
    font-family: SnigletRegular;
}

.inputbox input::placeholder {
    color: transparent;
}

.inputbox input:focus::placeholder,
.inputbox input:focus-within::placeholder {
    color: transparent;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
    font-family: SnigletRegular;
}

.inputbox i{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 50%;
}

.submitBtn{
    width: 80%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.3s ease;
} .submitBtn:hover{
    color: #fff;
    background: rgb(99, 150, 182);
}

.rightside_sec span{
    width: 80%;
    height: 8%;
    position: relative;
    cursor: pointer;
    color: #fff;
    font-family: SnigletRegular;
    transition: font-size 0.4s;
}   .rightside_sec span:hover{
        font-size: 17px;
}

.rightside_sec_slide span{
    width: 80%;
    height: 8%;
    position: relative;
    cursor: pointer;
    color: #fff;
    font-family: SnigletRegular;
    transition: font-size 0.4s;
}   .rightside_sec_slide span:hover{
        font-size: 17px;
}

.signin_body_slide{
    display: none;
}

.signup_body_slide{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 12.5%;
    gap: 25px;
    transition: all 0.8s ease-in-out;
    animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.m_wrapChange{
    width: 30%;
    height: 40%;
    margin: 0;
    background-color: var(--claro-light);
    border-radius: var(--border-radius-default);
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.m_headChange{
    width: 100%;
    height: 20%;
    border-radius: 16px 16px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m_bodyChange{
    width: calc(100% - 4rem);
    height: 80%;
    margin: 0 2rem;
    box-shadow: inset 0 0 20px #a6a6a63f;
}

.m_bodyChange form{
    width: 100%;
    height: calc(100% - 1.5rem);
    margin: 0 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@keyframes pulsate-fwd {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  