/* 
?███████ ████████ ██    ██ ██      ███████ 
?██         ██     ██  ██  ██      ██      
?███████    ██      ████   ██      █████   
?     ██    ██       ██    ██      ██      
?███████    ██       ██    ███████ ███████ 
*/

:root{
    --primary-color: #090910;
    --secundary-color: #2f2f51;
    
    --default-text-size: 24px;
    --small-text-size: 16px;
    --discount-text-size: 16px;

    --default-font: snigletRegular;
    --default-boozer-font: BilboSwashCapsRegular;
}


.catalogo_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 25vh);
    width: 100%;
    position: fixed;
    top: 15vh;
    background-color: var(--claro-light);
    z-index: 10;
}

.menu_sec{
    width: calc(100% - 10vh);
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_title{
    width: 50%;
    text-align: center;
    font-size: 65px;
    font-family: BilboSwashCapsRegular;
    color: var(--azul-quente);
    cursor: default;
}

.menu_body{
    width: 50%;
    display: flex;
    gap: 10%;
}

.visual_menu{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.pagination_menu{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.filter_menu{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_btn{
    border: 0;
    margin: 0;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--azul);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 42px;
    transition: all 0.2s ease;
    font-family: snigletRegular;
}

.menu_btn:hover{
    background-color: var(--azul-light);
    color: var(--azul-quente);
}

.menu_grid, .prev_page_btn{
    border-radius: 50px 0 0 50px;
}
.menu_list, .next_page_btn{
    border-radius: 0 50px 50px 0;
}

.current_page{
    width: 42px;
    height: 42px;
    border-radius: 8px;
    background-color: var(--azul);
    color: #ffffff;
}

.current_page:hover{
    background-color: var(--azul-light);
    color: var(--azul-quente);
}

.filter_modal{
    position: fixed;
    width: calc(100% - 10vh);
    height: calc(100% - 10vh);
    top: 0;
    left: 0;
    margin: 5vh;
    background-color: var(--claro-light);
    z-index: 60;
    border-radius: 12px;
	animation: scale-in-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.modal_body{
    margin: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.modal_header{
    width: 100%;
    display: flex;
}

.modal_header i{
    width: 2rem;
    height: 2rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--azul);
    transition: color 0.2s ease;
    cursor: pointer;
}

.modal_header i:hover{
    color: var(--azul-escuro);
}

.modal_title{
    width: 90%;
    font-size: 25px;
    font-weight: 700;
    font-family: snigletRegular;
    color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_filter_sec{
    height: calc(100% - 2.5rem);
    width: 100%;
    box-shadow: -5px 0 10px rgba(211, 211, 211, 1) inset;
    overflow-y: scroll;
    overflow-x: hidden;
}

.back_screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    z-index: 50;
}

.hidden{
    display: none !important;
}

.catalog_body{
    width: calc(100% - 10vh);
    height: 85%;
    overflow-y: scroll;
}

.filter_fieldset {
    --active: #5a9ac2;
    width: calc(100% - 3rem);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
    border-radius: 12px;
    border: 0;
    text-align: left;
}

.filter_fieldset legend{
    font-size: 20px;
    font-weight: 600;
    font-family: snigletRegular;
    color: var(--azul);
}

.filter_fieldset label{
    margin: 1rem;
    padding-left: 1rem;
    width: 200px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: snigletRegular;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--label-hover, #afd3e9);
    border-radius: 8px;
    gap: 8px;
    transition: all 0.2s ease;
    cursor: pointer;
    color: var(--label-hover-color, #2d739f);
}

.filter_fieldset input {
    display: flex;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 36%/36%;
    background: var(--background, #fff);
    transition: background 0.2s linear;
}

.label_textbox{
    width: 50% !important;
}

.label_textbox .textbox{
    margin: auto;
    border-radius: 5px;
    width: calc(80% - 4rem);
    height: 60%;
}

.box_middle{
    width: 30% !important;
}

.box_middle input, .box_big input{
    margin: auto;
    border-radius: 5px;
    width: calc(80% - 4rem);
    height: 60%;
}

.box_big{
    width: 65% !important;
}

.filter_fieldset label:hover{
    --label-hover: #2d739f;
--label-hover-color: #fff
}
.filter_fieldset input:checked{
    --background: var(--active);    
}

hr {
    display: block;
    position: relative;
    width: 100vw;
    height: 2px;
    margin: 1rem 0 1rem 0;
    border: none;
    border-bottom: 2px dashed rgba(124, 70, 87, 0.25);
    float: left;
  }
  hr ~ * {
    clear: both;
  }

.catalog_products{
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.object_shield{
    width: 16%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.object_image_shield{
    width: 100%;
    height: 70%;
}

.object_image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.object_info{
    width: 100%;
    height: 30%;
}

.object_price{
    width: 100%;
    height: calc(50% - 20px);
    padding: 10px;
}

.object_price_symbol{
    color: var(--secundary-color);
    font-size: var(--small-text-size);
}

.object_price_whole{
    color: var(--primary-color);
    font-size: var(--default-text-size);
}

.object_price_fraction{
    color: var(--secundary-color);
    font-size: var(--small-text-size);
}

.object_price_discount > .object_price_whole{
    text-decoration: line-through;
    color: var(--secundary-color);
    font-size: var(--discount-text-size);
}

.object_ms_text{
    position: relative !important;
    top: -0.3rem !important;
}

.object_description{
    font-family: var(--default-font);
    width: 100%;
    height: calc(50% - 20px);
    padding: 10px;
}

/* 
?██████  ███████ ███████ ██████   ██████  ███    ██ ███████ ██ ██    ██ ██ ██████   █████  ██████  ███████ 
?██   ██ ██      ██      ██   ██ ██    ██ ████   ██ ██      ██ ██    ██ ██ ██   ██ ██   ██ ██   ██ ██      
?██████  █████   ███████ ██████  ██    ██ ██ ██  ██ ███████ ██ ██    ██ ██ ██   ██ ███████ ██   ██ █████   
?██   ██ ██           ██ ██      ██    ██ ██  ██ ██      ██ ██  ██  ██  ██ ██   ██ ██   ██ ██   ██ ██     
?██   ██ ███████ ███████ ██       ██████  ██   ████ ███████ ██   ████   ██ ██████  ██   ██ ██████  ███████
*/

@media (min-width: 1851px) {
}

@media (max-width: 1850px) {
}

@media (max-width: 1450px) {
}

@media (max-width: 768px) {
}

@media (max-width: 1024px) and (max-height: 420px) and (orientation: landscape) {
}

@media (max-width: 420px) {
}

/* 
? █████  ███    ██ ██ ███    ███  █████  ████████ ██  ██████  ███    ██ 
?██   ██ ████   ██ ██ ████  ████ ██   ██    ██    ██ ██    ██ ████   ██ 
?███████ ██ ██  ██ ██ ██ ████ ██ ███████    ██    ██ ██    ██ ██ ██  ██ 
?██   ██ ██  ██ ██ ██ ██  ██  ██ ██   ██    ██    ██ ██    ██ ██  ██ ██ 
?██   ██ ██   ████ ██ ██      ██ ██   ██    ██    ██  ██████  ██   ████  
*/

@keyframes scale-in-center {
    0% {
      transform: scale(0.5);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }