/* 
?███████ ████████ ██    ██ ██      ███████ 
?██         ██     ██  ██  ██      ██      
?███████    ██      ████   ██      █████   
?     ██    ██       ██    ██      ██      
?███████    ██       ██    ███████ ███████ 
*/

.fullscreen{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.main_sec{
    width: 100%;
    height: calc(100% - 20vh);
    display: flex;
    flex-direction: column;
    background-color: var(--softcolor01);
}

.body_title{
    margin: 5vh 0vh 5vh 7vh;
    color: var(--softcolor13);
    font-family: 'SnigletRegular';
    cursor: default;
}

.navbar_menu{
    width: 100%;
    display: flex;
}

.navbar_card{
    width: 24vh;
    height: 26vh;
    margin: 0 0 5vh 7vh;
    border-radius: 12px;
    font-family: 'SnigletRegular';
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: background-color 0.2s ease;
	animation: jello-diagonal-1 0.8s both;
}   .navbar_card i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 15px;
}   .navbar_card a{
    height: 25%;
    display: flex;
    align-items: center;
    font-size: large;
    text-decoration: none;
    color: var(--preto);
    transition: color 0.2s ease;
}

#card_catalogo{
    background-color: var(--card1-soft-color);
    box-shadow: 0px 10px 0px -4px var(--card1-default-color);
}   #card_catalogo i{
    background-color: var(--card1-dark-color);
}   #card_catalogo:hover{
    background-color: var(--card1-strong-color);
}   #card_catalogo:hover > a{
    color: white;
}

#card_carrinho{
    background-color: var(--card2-soft-color);
    box-shadow: 0px 10px 0px -4px var(--card2-default-color);
}   #card_carrinho i{
    background-color: var(--card2-dark-color);
}   #card_carrinho:hover{
    background-color: var(--card2-strong-color);
}   #card_carrinho:hover > a{
    color: white;
}

#card_perfil{
    background-color: var(--card3-soft-color);
    box-shadow: 0px 10px 0px -4px var(--card3-default-color);
}   #card_perfil i{
    background-color: var(--card3-dark-color);
}   #card_perfil:hover{
    background-color: var(--card3-strong-color);
}   #card_perfil:hover > a{
    color: white;
}

#card_usuarios{
    background-color: var(--card4-soft-color);
    box-shadow: 0px 10px 0px -4px var(--card4-default-color);
}   #card_usuarios i{
    background-color: var(--card4-dark-color);
}   #card_usuarios:hover{
    background-color: var(--card4-strong-color);
}   #card_usuarios:hover > a{
    color: white;
}

.content_body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
	animation: tilt-in-right-2 0.6s ease-out both;
    }
    
    .card1 { grid-area: 3 / 7 / 5 / 9; }
    .card2 { grid-area: 3 / 6 / 5 / 7; }
    .card3 { grid-area: 4 / 3 / 5 / 6; }
    .card4 { grid-area: 3 / 4 / 4 / 6; }
    .card5 { grid-area: 2 / 6 / 3 / 8; }
    .card6 { grid-area: 1 / 8 / 3 / 9; }
    .card7 { grid-area: 1 / 7 / 2 / 8; }


    .content_body a{
        background-color: var(--softcolor02);

        width: 100%;
        height: 100%;
    }

    .card1 {
        border-radius: 20px 0 0 0;
    }
    .card2, .card3{
        border-radius: 20px 20px 0 0;
    }
    .card4{
        border-radius: 20px 0 20px 0;
    }
    .card5{
        border-radius: 20px 0 20px 0;
        font-family: 'SnigletRegular';
        cursor: pointer;
        font-size: large;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        transition: background-color 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    }   .card5:hover{
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        background-color: var(--strongcolor02);
    }
    .card6{
        border-radius: 20px 0 0 20px;
    }
    .card7{
        border-radius: 20px;
    }

/* 
?██████  ███████ ███████ ██████   ██████  ███    ██ ███████ ██ ██    ██ ██ ██████   █████  ██████  ███████ 
?██   ██ ██      ██      ██   ██ ██    ██ ████   ██ ██      ██ ██    ██ ██ ██   ██ ██   ██ ██   ██ ██      
?██████  █████   ███████ ██████  ██    ██ ██ ██  ██ ███████ ██ ██    ██ ██ ██   ██ ███████ ██   ██ █████   
?██   ██ ██           ██ ██      ██    ██ ██  ██ ██      ██ ██  ██  ██  ██ ██   ██ ██   ██ ██   ██ ██     
?██   ██ ███████ ███████ ██       ██████  ██   ████ ███████ ██   ████   ██ ██████  ██   ██ ██████  ███████
*/

@media (max-width: 1024px) {
    .fullscreen{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    
    .main_sec{
        width: 100%;
        height: calc(100% - 20vh);
        display: flex;
        flex-direction: column;
        background-color: var(--softcolor01);
    }
    
    .body_title{
        margin: 5vh 0vh 5vh 7vh;
        color: var(--softcolor13);
        font-family: 'SnigletRegular';
        cursor: default;
    }
    
    .navbar_menu{
        width: calc(100% - 5vh);
        margin-left: 0;
        display: flex;
    }
    
    .navbar_card{
        width: 24vh;
        height: 26vh;
        margin: 0 0 5vh 7vh;
        border-radius: 12px;
        font-family: 'SnigletRegular';
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transition: background-color 0.2s ease, width 0.5s ease;
        animation: jello-diagonal-1 0.8s both;
    }   .navbar_card i {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 50px;
        width: 50px;
        border-radius: 15px;
    }   .navbar_card a{
        height: 25%;
        display: flex;
        align-items: center;
        font-size: large;
        text-decoration: none;
        color: var(--preto);
        transition: color 0.2s ease;
    }
}

@media (max-width: 768px) {
    .main_sec{
        width: 100%;
        height: calc(100% - 20vh);
        display: flex;
        flex-direction: column;
        background-color: var(--softcolor01);
    }

    .body_title{
        width: calc(100% - 12vh);
        margin: 5vh 7vh 2vh 5vh;
        color: var(--softcolor13);
        font-family: 'SnigletRegular';
        cursor: default;
    }

    .navbar_menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 10vh;
    }

    .navbar_card{
        width: calc(100% - 10vh);
        height: 10vh;
        margin: 0 0 3vh 5vh;
        border-radius: 12px;
        font-family: 'SnigletRegular';
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        transition: background-color 0.2s ease;
        animation: jello-diagonal-1 0.8s both;
    }   .navbar_card i {
        margin: 0px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 50px;
        width: 50px;
        border-radius: 15px;
    }   .navbar_card a{
        margin: 0;
        height: 25%;
        display: flex;
        align-items: center;
        font-size: large;
        text-decoration: none;
        color: var(--preto);
        transition: color 0.2s ease;
    }

    .content_body {
        width: 16vh;
        height: 8vh;
        display: flex;
        animation: tilt-in-right-2 0.6s ease-out both;
        position: fixed;
        top: 20vh;
        right: -4vh;
        margin: 0;
        }

        .content_body a{
            background-color: var(--softcolor02);
            width: 100%;
            height: 100%;
        }

        .card1, .card2, .card3, .card4, .card6, .card7{
            display: none;
        }
        .card5{
            border-radius: 20px 20px 0px 0px;
            font-family: 'SnigletRegular';
            cursor: pointer;
            font-size: large;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-decoration: none;
            transform: rotate(270deg);
            transition: background-color 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000);
        }   .card5:hover{
            animation: none;
            background-color: var(--strongcolor02);
        }
}

/* 
? █████  ███    ██ ██ ███    ███  █████  ████████ ██  ██████  ███    ██ 
?██   ██ ████   ██ ██ ████  ████ ██   ██    ██    ██ ██    ██ ████   ██ 
?███████ ██ ██  ██ ██ ██ ████ ██ ███████    ██    ██ ██    ██ ██ ██  ██ 
?██   ██ ██  ██ ██ ██ ██  ██  ██ ██   ██    ██    ██ ██    ██ ██  ██ ██ 
?██   ██ ██   ████ ██ ██      ██ ██   ██    ██    ██  ██████  ██   ████  
*/

@keyframes jello-diagonal-1 {
    0% {
        transform: skew(0deg 0deg);
    }
    30% {
        transform: skew(20deg 20deg);
    }
    40% {
        transform: skew(-5deg, -5deg);
    }
    50% {
        transform: skew(5deg, 5deg);
    }
    65% {
        transform: skew(-2deg, -2deg);
    }
    75% {
        transform: skew(2deg, 2deg);
    }
    100% {
        transform: skew(0deg 0deg);
    }
}

@keyframes tilt-in-right-2 {
    0% {
        transform: rotateX(30deg) translateX(300px) skewX(-30deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg) translateX(0) skewX(0deg);
        opacity: 1;
    }
}

@keyframes scale-up-center {
    0% {
        transform: rotate(0) scale(1);
    }
    100% {
        transform: rotate(-3deg) scale(1.2);
    }
}
