@import url('https://fonts.googleapis.com/css2?family=Phudu&family=Roboto:wght@900&display=swap');
/* 
?███████ ████████ ██    ██ ██      ███████ 
?██         ██     ██  ██  ██      ██      
?███████    ██      ████   ██      █████   
?     ██    ██       ██    ██      ██      
?███████    ██       ██    ███████ ███████ 
*/


body {
    margin: 0%;
    font-family: 'Phudu', cursive;
    font-family: 'Roboto', sans-serif;
}

.main-login {
    width: 100vw;
    height: 100vh; 
    background-image: linear-gradient(to left, var(--azul-escuro), var(--azul-quente) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-login h1 {
    color: var(--white);
    font-size: 45px;
    font-family: SnigletRegular;
}

img{
    width: 500px;
    height: 500px;
    margin: -70px;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #8dceeb;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000036;
}

.card-login h1 {
    color: var(--white);
    font-weight: 800;
    margin: 0;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    margin: 10px 0px;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #8dceeb;
    color: beige;
    font-size: 12pt;
    box-shadow: 0px 2px 10px #00000036;
    outline: none;
    box-sizing: border-box;
}

.textfield label {
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--preto-light);
    font-weight: 700;
    padding-bottom: 10px;
    pointer-events: none;
}

.textfield input::placeholder {
    color: azure;
}

.btn-login {
    width: 70%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: black;
    background: #ffffff;
    cursor: pointer;
    transition: all 0.4s ease;
}   .btn-login:hover{
    background-color: var(--azul-quente);
    color: var(--claro);
    box-shadow: 0px 0px 2px var(--preto-light);
}

.login_menu{
    height: 10%;
    display: flex;
    align-items: end;
    font-size: 24px;
    font-family: 'SnigletRegular';
}   .login_menu a{
    text-decoration: none;
    color: var(--strongcolor17);
    transition: all 0.2s ease-in-out;
}   .login_menu a:hover{
    font-weight: 500;
    color: var(--strongcolor11);
}
