/* 
?███████ ████████ ██    ██ ██      ███████ 
?██         ██     ██  ██  ██      ██      
?███████    ██      ████   ██      █████   
?     ██    ██       ██    ██      ██      
?███████    ██       ██    ███████ ███████ 
*/

.navbar_outline{
    display: flex;
    position: fixed;
    top: 10vh;
    margin: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    border-radius: 0 0 10px 10px;
    background-color: var(--claro-light);
    transition: height 0.5s ease;
    z-index: 100;
}

.navbar_sec{
    margin: 0;
    width: calc(100% - 10vh);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: var(--azul-morno);
    border-radius: 0 0 10px 10px;
}

.navbar_body{
    margin: 0 5vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: var(--azul-morno);
    border-radius: 10px;
}

.navbar_item{
    margin: 0;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}   .navbar_item:hover{
    background-color: var(--claro-light);
}   .navbar_item:hover > i{
    color: var(--preto);
}   .navbar_item:hover > a{
    color: var(--preto);
}

.navbar_item a{
    color: var(--white);
    font-size: 16px;
    margin: 0;
    font-family: 'SnigletRegular';
    transition: all 0.2s ease-in-out;
}

.navbar_item i{
    padding-right: 10px;
    color: var(--white);
    margin: 0;
    transition: all 0.2s ease-in-out;
}

.blue_square{
    width: 5vh;
    height: 5vh;
    background-color: var(--azul-morno);
}

.white_square1{
    width: 5vh;
    height: 5vh;
    background-color: var(--claro-light);
    border-radius: 0 10px 0 0;
}

.white_square2{
    width: 5vh;
    height: 5vh;
    background-color: var(--claro-light);
    border-radius: 10px 0 0 0;
}

.navbar_active{
    background-color: var(--claro-light);
    transition: all 0.3s linear;
}   .navbar_active a , .navbar_active i{
    color: var(--preto);
}

.navbar_button{
    display: none;
}

@media (max-width: 768px) {
    .navbar_outline{
        height: 7vh;
        transition: height 0.5s ease;
    }
    
    .navbar_body{
        justify-content: center;
    }
    
    .navbar_item{
        display: none;
        margin: 0;
        width: 20vh;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }   .navbar_item:hover{
        background-color: var(--claro-light);
    }   .navbar_item:hover > i{
        color: var(--preto);
    }   .navbar_item:hover > a{
        color: var(--preto);
    }
    
    .navbar_item a{
        color: var(--white);
        font-size: 16px;
        margin: 0;
        font-family: 'SnigletRegular';
        transition: all 0.2s ease-in-out;
    }
    
    .navbar_item i{
        padding-right: 10px;
        color: var(--white);
        margin: 0;
        transition: all 0.2s ease-in-out;
    }
    
    .blue_square{
        width: 5vh;
        height: 5vh;
        background-color: var(--azul-morno);
    }
    
    .white_square1{
        width: 5vh;
        height: 5vh;
        background-color: var(--claro-light);
        border-radius: 0 10px 0 0;
    }
    
    .white_square2{
        width: 5vh;
        height: 5vh;
        background-color: var(--claro-light);
        border-radius: 10px 0 0 0;
    }
    
    .navbar_active{
        background-color: var(--claro-light);
        transition: all 0.3s linear;
    }   .navbar_active a , .navbar_active i{
        color: var(--preto);
    }

    .navbar_button{
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }   .navbar_button i{
        margin: 0;
        color: var(--white);
    }
}

/* 
? █████  ███    ██ ██ ███    ███  █████  ████████ ██  ██████  ███    ██ 
?██   ██ ████   ██ ██ ████  ████ ██   ██    ██    ██ ██    ██ ████   ██ 
?███████ ██ ██  ██ ██ ██ ████ ██ ███████    ██    ██ ██    ██ ██ ██  ██ 
?██   ██ ██  ██ ██ ██ ██  ██  ██ ██   ██    ██    ██ ██    ██ ██  ██ ██ 
?██   ██ ██   ████ ██ ██      ██ ██   ██    ██    ██  ██████  ██   ████  
*/