@media (max-width: 1024px) {

    /* 
    *██       ██████   ██████  ██ ███    ██ 
    *██      ██    ██ ██       ██ ████   ██ 
    *██      ██    ██ ██   ███ ██ ██ ██  ██ 
    *██      ██    ██ ██    ██ ██ ██  ██ ██ 
    *███████  ██████   ██████  ██ ██   ████  
    */

    .leftside_sec{
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.8s ease-in-out;
        z-index: 1;
    }

    .leftside_sec img{
        width: 50%;
        height: 100%;
    }

    .left_sec_text{
        position: fixed;
        height: 100%;
        width: 50%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.8s ease-in-out;
    }

    .leftside_title{
    font-size: 55px;
    font-family: BilboSwashCapsRegular;
    color: var(--bege-light);
    transition: all 0.8s ease-in-out;
    }   .leftside_title:hover{
        animation: jello-vertical 0.9s both;
    }

    .leftside_subtitle{
        display: none;
    }

    .rightside_sec{
        margin: 0;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        background: linear-gradient(90deg, rgba(32,83,115,1) 0%, rgba(33,70,94,1) 65%, rgba(34,52,64,1) 100%);
        box-shadow: 5px 0px 10px #000;
        transition: all 0.8s ease-in-out;
        z-index: 2;
    }

    .login_form_sec{
        position: relative;
        width: 80%;
        height: 60%;
        background: transparent;
        border: 2px solid rgba(255,255,255,0.5);
        border-radius: 20px;
        backdrop-filter: blur(15px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
    }

    .signin_body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 10%;
        gap: 25px;
        transition: all 0.8s ease-in-out;
        animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .signup_body{
        display: none;
    }

    .inputbox{
        position: relative;
        margin: 0 auto;
        width: 100%;
        border-bottom: 2px solid #fff;
    }

    .inputbox label{
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: #fff;
        font-size: 1em;
        pointer-events: none;
        transition: .5s;
        font-family: SnigletRegular;
    }

    .inputbox input::placeholder {
        color: transparent;
    }

    .inputbox input:focus::placeholder,
    .inputbox input:focus-within::placeholder {
        color: transparent;
    }

    input:focus ~ label,
    input:not(:placeholder-shown) ~ label {
        top: -5px;
    }

    .inputbox input {
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        padding:0 35px 0 5px;
        color: #fff;
        font-family: SnigletRegular;
    }

    .inputbox i{
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 1.2em;
        top: 50%;
    }

    button{
        width: 80%;
        height: 40px;
        border-radius: 40px;
        background: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
        transition: all 0.3s ease;
    } button:hover{
        background: rgb(99, 150, 182);
    }

    .rightside_sec span{
        position: fixed;
        bottom: 10px;
        cursor: pointer;
        color: #fff;
        font-family: SnigletRegular;
        transition: font-size 0.4s;
    }   .rightside_sec span:hover{
            font-size: 17px;
    }
    /* 
    *███████ ██      ██ ██████  ███████ 
    *██      ██      ██ ██   ██ ██      
    *███████ ██      ██ ██   ██ █████   
    *     ██ ██      ██ ██   ██ ██      
    *███████ ███████ ██ ██████  ███████  
    */
    .leftside_sec_slide {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.8s ease-in-out;
        z-index: 1;
    }    

    .leftside_sec_slide img{
        width: 50%;
        height: 100%;
    }
    
    .rightside_sec_slide{
        margin: 0;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        background: linear-gradient(90deg, rgba(32,83,115,1) 0%, rgba(33,70,94,1) 65%, rgba(34,52,64,1) 100%);
        box-shadow: -5px 0px 10px #000;
        transform: translateX(-100%);
        transition: all 0.8s ease-in-out;
        z-index: 2;
    }

    .rightside_sec_slide span{
        position: fixed;
        bottom: 10px;
        cursor: pointer;
        color: #fff;
        font-family: SnigletRegular;
        transition: font-size 0.4s;
    }   .rightside_sec_slide span:hover{
            font-size: 17px;
    }

    .login_form_sec_slide{
        position: relative;
        width: 80%;
        height: 60%;
        background: transparent;
        border: 2px solid rgba(255,255,255,0.5);
        border-radius: 20px;
        backdrop-filter: blur(15px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
    }
    
    .signin_body_slide{
        display: none;
    }
    
    .signup_body_slide{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 12.5%;
        gap: 30px;
        transition: all 0.8s ease-in-out;
        animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .left_sec_text_slide{
        position: fixed;
        height: 100%;
        width: 50%;
        left: 0;
        transform: translateX(100%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.8s ease-in-out;
    }
    
    .leftside_title_slide{
        font-size: 55px;
        font-family: BilboSwashCapsRegular;
        color: var(--bege-light);
        margin-bottom: 10%;
        transition: all 0.8s ease-in-out;
        margin: 0;
    }   .leftside_title_slide:hover{
        animation: jello-vertical 0.9s both;
    }

    .leftside_subtitle_slide{
        display: none;
    }
}